<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G.R.I.R.R - Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>G.R.I.R.R - Dashboard</h1>
    <nav>
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'children' %}">Children</a></li>
            <li><a href="{% url 'program_costs' %}">Program Costs</a></li>
            <li><a href="{% url 'resources' %}">Resources</a></li>
            <li><a href="{% url 'baselines' %}">Baselines</a></li>
            <li><a href="{% url 'toolkit' %}">Toolkit</a></li>
        </ul>
    </nav>
</body>
</html>
